.header__components {
  display: flex;
  align-items: center;
  margin-top: 15px;
}

.header__components {
}

.header__components__burger__menu {
  width: 40px;
  height: 50px;
  color: #3c4043;
  margin-right: 10px;
}

.header__logoContent {
  display: flex;
  align-items: center;
  flex: 1;
}

.header__logoContent .header__logo {
  width: 30px;
  /* height: 40px; */
  margin-right: 15px;
}

.header__logoContent > p {
  font-size: 18px;
  color: #3c4043;
  font-weight: 400;
}

.header__searchbar {
  min-width: 800px;
}

.searchbar {
  position: relative;
  max-width: 500px;
  margin: auto;
  display: flex;
  align-items: center;
  background-color: #f1f3f4;
  padding: 15px 10px;
  border-radius: 8px;
  flex: 1;
}

.searchbar > img {
  width: 20px;
  margin-right: 15px;
}

.searchbar > form {
  width: 100%;
}

.searchbar input[type="text"] {
  border: 0px;
  background-color: #f1f3f4;
  font-size: 18px;
  width: 100%;
}

.searchbar input:focus {
  outline: none;
}

.options {
  display: flex;
  align-items: center;
  flex: 1;
}
.options > img {
  width: 20px;
}

.options > img:nth-child(2) {
  margin: 0px 25px;
}

.options > img:hover {
  cursor: pointer;
  background-color: #3c4043;
  /* margin: 0; */
}

.profile {
  display: flex;
  align-items: center;
  flex: 1;
}
.profile > img {
  width: 20px;
}

.profile > img:nth-child(2) {
  margin: 0px 25px;
}

.profile > img:hover {
  cursor: pointer;
  background-color: #3c4043;
  color: #000;
  /* margin: 0; */
}

#trash:hover {
  cursor: pointer;
  text-decoration: underline;
  color: #000;
}

#goHome:hover {
  cursor: pointer;
  text-decoration: underline;
  color: #000;
}

@media only screen and (max-width: 1024px) {
  .header__components > img {
    width: 30px;
    height: 40px;
  }
}
