.section {
  max-width: 850px;
  margin-left: auto;
  margin-top: 30px;
  margin-right: 40px;
}

.input__section {
  border: 1px solid #fff;
  max-width: 500px;
  padding: 20px 25px;
  border-radius: 7px;
  padding: 10px;
  border: 1px solid #fff;
  box-shadow: 0 0 3px 1px #888;
}

.input__section__header {
  display: flex;
  justify-content: space-between;
  align-items: center;
  margin-bottom: 15px;
}

.input__section__header > img {
  width: 20px;
}

.input__section__header > p {
  font-size: 16px;
  color: #888;
}

.input__section__noteInput {
  /* margin: 20px 0px; */
}

.input__section__noteInput input[type="text"] {
  width: 100%;
  border: 0;
  font-size: 16px;
  color: #888;
}

.input__section__noteInput input:focus {
  outline: none;
}

.section__options {
  position: relative;
  display: flex;
  margin-top: 15px;
}

.section__options > .section__options_details:nth-child(2) {
  margin: 0 15px;
}

.section__options_details > img {
  width: 20px;
  border-radius: 8px;
}

.section__options_details {
  position: relative;
  display: flex;
  justify-content: center;
  /* align-items: center; */
  flex-direction: column;
  /* max-width: 90px; */
}

.section__options_details > img {
  width: 20px;
  border-radius: 8px;
  /* display: block; */
}

.section__options_details:hover .hide {
  display: block;
  width: fit-content;
}

.hide {
  display: none;
  font-size: 10px;
  /* margin-top: 10px; */
  background-color: #888;
  color: #fff;
  padding: 6px 4px;
  border-radius: 8px;
  margin-top: 1px;
  position: absolute;
  top: 100%;
  left: -16px;
  margin-top: 5px;
}

.section__options__submit {
  margin-left: auto;
  margin-right: 10px;
  color: black;
}

.section__options__submit:hover {
  cursor: pointer;
}

.section__hide {
  display: none;
}

.hideEdit {
  display: none;
}

@media only screen and (max-width: 1024px) {
  .section {
    margin-right: 0px;
  }
}
